        <div class="sidebar">
          <h1>vity</h1>
          <ul class="sidebarUl">
            <a href=""><li id="li1" class=""><img src="../img/house-solid.svg" alt="" srcset=""> Home</li></a>
            <a href="/cad"><li id="li2" class=""><img src="../img/house-solid.svg" alt="" srcset=""> Home</li></a>
            <a href=""><li id="" class=""><img src="../img/house-solid.svg" alt="" srcset=""> Home</li></a>
          </ul>
        </div>
      
      <section class="mainContainer">
        <h2>Bem vindo, Vicenzo</h2>

        <canvas id="myChart"><canvas/>
      </section>

      <script src="../js/main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>