
body {
    background-color: #FE4848;
}


.sectionTopBar {
    width: 100%;
    height: 5rem;
    background-color: #FE4848;
}

.sidebar {
    width: 20%;
    height: 100vh;

    background-color: #FE4848;
    color: white;

    padding: 0.5rem 1rem;
    float: left;
}

.mainContainer {   
    width: 80%;

    margin-top: ;

    background-color: white;

    float: left;
}